<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Joel Hilton Film Collection</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <div class="container">

                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    The Joel Hilton Film Collection
                </a>

                <div class="navbar-nav">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link" asp-controller="Joel" asp-action="Index">Get to Know Joel</a>
                    <a class="nav-link" asp-controller="Movies" asp-action="Index">Movie Collection</a>
                </div>

            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>